{% load static %}
<link rel="stylesheet" href="{% static 'style.css'%}" type="text/css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body class="bg-dark t-white">
    <div class="center-cont h-100">
        <div class="t-bald t-big">{{title}}</div>
        <br>
        <div>server uptime: {{uptimeHours}} hours</div>
        <div>{{uptimeSeconds}} seconds</div>
    </div>
</body>
</html>
