{% load static %}
<link rel="stylesheet" href="style.css" type="text/css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body class="bg-dark t-white">
    <div class="center-cont h-100">
        <div>
            <div class="t-bald t-big">{{title}}</div>
            <br>
            
            <div>
                <div class="">server uptime:</div>
                <div class="t-small">{{uptimeDays}} days</div>
                <div class="t-small">{{uptimeHours}} hours</div>
                <div class="t-small">{{uptimeSeconds}} seconds</div>
            </div>
        </div>
    </div>
</body>
</html>
